@model ContactModel

@{
    ViewBag.Title = "Phone Number";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>@ViewBag.Title</h2>

<p><a href="@Url.Action("Details", "Contact", new { id = @Model.Id })">@Model.FullName</a></p>

@if (Model.PhoneNumbers.Count > 0) {
    <ul id="contact-item">
        @foreach (var phone in Model.PhoneNumbers) {
            <li>
                <span class="contact-column">
                    <em>@phone.Name</em><br />
                    <strong>@phone.Number</strong>
                </span>
                <span class="contact-column">
                    <a href="@Url.Action("Edit", "PhoneNumber", new { id = @phone.Id, contactId = @Model.Id })" class="btn btn-mini">Edit</a>
                    <a href="@Url.Action("Delete", "PhoneNumber", new { ContactId = @Model.Id, Id = @phone.Id })" class="btn btn-danger btn-mini delete-button">Delete</a>
                </span>
            </li>
        }
    </ul>
} else { 
    <p class="alert alert-info">
        No instant messengers found.
    </p>
}

<p>
    <a href="@Url.Action("Create", "PhoneNumber", new { contactId = @Model.Id })">Add Phone Number</a>
</p>